require 'potatoes_helper'

<!-- DON'T USE THIS!>


<h1>New Potato</h1>
<h2>test<%= read_from_csv%></h2>

<%= form_with scope: :potato, url: potatoes_path, local: true do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :desc %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>