<p>

	
<div class="potatoes-wrapper row">
  <div class="potato">
    <div class="potato-head">
      <div class="name">
        <td>Name: <%= @potato.name %></td><br>
      </div>
    </div>
    <div class="image center-block">
    	
<% body = @potato.body %>
<% eyes = @potato.eyes %>
<% mouth = @potato.mouth %>

Hello: <%= body %>

<%= image_tag("body/#{body}.png", alt: 'potato body', size: "442x598", id: 'body') %>
<%= image_tag("eyes/#{eyes}.png", alt: 'potato eyes', size: "372x127", id: 'eyes') %>
<%= image_tag("mouth/#{mouth}.png", alt: 'potato mouth', size: "320x266", id: 'mouth') %>
     
      
    </div>
    <p class="desc">
      <%= @potato.desc %>
    </p>
    <div class="text-center">
      <%= link_to "Cancel", welcome_home_path %>
    </div>
  </div>
</div>

